[Unit]
Description=qrcode webserver
After=network.target 
[Service]
EnvironmentFile=/etc/sysconfig/qrcodeDetectEx
ExecStart=/bin/bash ${QRCODE_WEBSERVER}
Type=oneshot
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
